@font-face {
    font-family: 'SomethingStraight';
    src: url('fonts/SomethingStraight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SundayGrapes';
    src: url('fonts/SundayGrapes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.text-background {
    background-color: rgba(255, 255, 255, 1);
    padding: 0.2em 0.4em; /* adjust padding as needed */
    border-radius: 5px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'SundayGrapes', 'Courier New';
    overflow-x: hidden; /* This will prevent horizontal scrolling */
}

body {
   background-color: #f4f4f4;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}


.container {
    position: relative;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    height: 560px;
    width: 100%;
    overflow: hidden;
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* adjust the 0.4 value as needed */
    z-index: 2; /* to ensure overlay is above the images but below the text */
}

.carousel-image {
    height: 560px;
    width: 100%;  /* Change from 100vw to 100% */
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity 2s ease;
}


.party-text {
  z-index: 200;
  background: linear-gradient(45deg, #FC466B, #3F5EFB, #05DFD7, #F3A953, #FC466B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


h1, h2 {
  color: #FFFFFF;
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px 2px 0 #000,
    2px 2px 0 #000;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px; /* Give a margin to separate from the h2 */
    z-index: 2;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index: 2;
}

.carousel-image.active {
    opacity: 1;
    z-index: 1;
}





.info-section {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#emailForm {
   display: flex;
   flex-direction: column;
   width: 300px; /* Adjust as needed */
 }

 #emailForm label,
 #emailForm input,
 #emailForm button {
   margin-bottom: 15px; /* Adjust spacing between elements */
 }

 #emailForm input {
   border: 2px solid #6a5acd;
   border-radius: 5px;
   padding: 10px;
   font-size: 16px; /* Adjust input text size */
 }

 #emailForm button {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #6a5acd; /* Modern purple */
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.3s ease;
 }

 #emailForm button:hover {
   background-color: #483d8b; /* Darker shade on hover */
   transform: translateY(-2px); /* Slight lift effect */
 }

 #thankYouMessage {
   display: none;
   margin-top: 20px; /* Spacing above the thank you message */
   font-size: 18px;
 }

.container, .info-section {
    width: 100%;
}


@media screen and (min-width: 768px) {

  h1 {
      font-size: 5rem;
      z-index: 2;
  }

  h2 {
      font-size: 4rem;
      z-index: 2;
  }

    .container {
        height: 692px;
    }
    .carousel, .carousel-image {
        height: 692px;
    }

    #emailForm {
      flex-direction: row; /* Align children side by side */
      justify-content: space-around; /* Distribute space arou*/
      align-items: center; /* This will vertically center the items */
        width: auto;
        gap: 15px; /*
    }
}
