@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('fonts/GOTHAM-ULTRA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/GOTHAM-MEDIUM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('fonts/GOTHAM-LIGHT.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bold-font {
    font-family: 'Gotham Bold';
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg'); 
    background-size: contain; /* The image will be scaled to fit the element */
    background-position: center center; /* Center the image within the element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */  
    background-color:  #8F3777; /* Main background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Ensures text is centered within its container */
    font-family: 'Gotham Light';
}

.centered-block {
    background-color: #EBE8DC; /* Block background color */
    padding: 20px;
    width: 50%;
    max-width: 800px; /* Maximum width of the block */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: auto; /* Height is set to auto to contain the content */
    max-height: 90vh; /* Maximum height to ensure it doesn't overflow the viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
}

.content-image {
    max-width: 80%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Block display to enable margin auto to work */
    margin: 0 auto 20px; /* Top and bottom margins 0, left and right margins auto */
}    

.insta {

}


.donate-button {
    width: 60%;
    padding: 10px 20px;
    margin: 20px auto; /* Center button horizontally and add some space below */
    background-color: #8F3777;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px; /* This will create rounded edges; adjust the px value as desired */
    font-family: 'Gotham Bold';
}

.title {
    font-family: 'Gotham Bold';
    margin-bottom: 15px;

}

.subtitle {
    margin-top: 0;
    font-family: 'Gotham Bold';
    margin-bottom: 15px;
}



@media screen and (max-width: 768px) {
    body, html {
        font-size: 15px;
        background-size: cover; /* The image will be scaled to fit the element */

    }

    .donate-button {
        width: 80%;
    }
}
